@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

div.assort-table {
    width: 100%;
    flex-direction: column;
}

div.assort-table-top-menu {
    flex-direction: row;
}
div.assort-table-top-menu-item {
    height: 20px;
    border: 1px dashed;
    border-color:coral;
}

div.assort-table-content{
    
}

