@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

div.assort-table {
    width: 100%;
    flex-direction: column;
}

div.assort-table-top-menu {
    flex-direction: row;
}
div.assort-table-top-menu-item {
    height: 20px;
    border: 1px dashed;
    border-color:coral;
}

div.assort-table-content{
    
}

div.assort-mgmt-section {
    flex-direction: column;
    display: flex;
    margin-bottom: 30px;
}
div.assort-mgmt-section-header {
    background-color: blueviolet;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
div.assort-mgmt-section-content {
    flex-direction: row;
    display: flex;
}

div.assort-mgmt-section-content-item {
    height: 50px;
    text-align:left;

}


div.assort-mgmt-page {
    flex-direction: column;
}
